<!DOCTYPE html>
<html>
<head>
<title>About Project</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="card">

<h1>About Project</h1>

<p>
This project recognizes hand gestures
using Machine Learning.
</p>

<h2>Dataset</h2>

<p>LeapGestRecog Dataset</p>

<h2>Algorithm</h2>

<ul>
<li>OpenCV</li>
<li>HOG Feature Extraction</li>
<li>SVM Classifier</li>
<li>Flask Deployment</li>
</ul>

</div>

</body>
</html>