<!DOCTYPE html>
<html>
<head>
<title>Hand Gesture Recognition</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
<h2>✋ Hand Gesture Recognition</h2>
</nav>

<div class="card">

<h1>Upload Gesture Image</h1>

<form action="/predict"
      method="POST"
      enctype="multipart/form-data">

<input type="file"
       name="image"
       required>

<button type="submit">
Recognize Gesture
</button>

</form>

</div>

</body>
</html>